/.buildpath
/.idea/
/.project
/.settings

/000

/build/bin
/build/buildlang
/build/epub
/build/phingext
/build/tools
/build/templates/release.json
/build/templates/release-app.json
/build/templates/release-wp.json
/build/build.properties

/composer.lock

/phpunit.xml

/Tests/coverage

/vendor