language: php

php:
  - 5.4
  - 5.5

before_script:
  - travis_retry composer self-update
  - travis_retry composer install --prefer-source --no-interaction --dev

script: phpunit.phar --verbose -c phpunit.xml Tests/Awf