<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    beStrictAboutTestsThatDoNotTestAnything="true"
    checkForUnintentionallyCoveredCode="false"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTestSize="true"
    colors="true"
>
    <php>
        <const name="AWFTEST_DATABASE_MYSQL_DSN" value="host=localhost;dbname=awf;user=utuser;pass=ut1234" />
        <const name="AWFTEST_DATABASE_MYSQL_ALTDB" value="awf_alt" />
        <const name="AWFTEST_DATABASE_MYSQLI_DSN" value="host=localhost;dbname=awf;user=utuser;pass=ut1234" />
        <const name="AWFTEST_DATABASE_MYSQLI_ALTDB" value="awf_alt" />
        <const name="AWFTEST_DATABASE_POSTGRESQL_DSN" value="host=localhost;port=5432;dbname=awf;user=utuser;pass=ut1234" />
        <const name="AWFTEST_DATABASE_POSTGRESQL_ALTDB" value="awf_alt" />
        <const name="AWFTEST_DATABASE_SQLSRV_DSN" value="host=localhost;dbname=awf;user=utuser;pass=ut1234" />
        <const name="AWFTEST_DATABASE_SQLSRV_ALTDB" value="awf_alt" />
    </php>

	<testsuites>
		<testsuite name="AWF Unit Tests">
			<directory>tests</directory>
		</testsuite>
	</testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <directory suffix=".php">src/Autoloader</directory>
                <directory suffix=".php">src/Compat</directory>
                <file>src/Database/DatabaseInterface.php</file>
                <file>src/Database/QueryLimitable.php</file>
                <file>src/Database/QueryPreparable.php</file>
                <file>src/Download/DownloadInterface.php</file>
                <file>src/Event/Observable.php</file>
                <directory suffix=".php">src/Exception</directory>
                <file>src/Filesystem/FilesystemInterface.php</file>
                <file>src/Hal/Render/RenderInterface.php</file>
                <directory suffix=".php">src/Mailer/phpmailer</directory>
                <file>src/Pimple/ServiceProviderInterface.php</file>
                <file>src/Session/RandvalInterface.php</file>
                <file>src/Session/SegmentInterface.php</file>
                <file>src/User/UserInterface.php</file>
                <file>src/User/ManagerInterface.php</file>
                <file>src/User/PrivilegeInterface.php</file>
                <file>src/User/UserInterface.php</file>
                <directory suffix=".php">tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
